@page "/"
@using DataBindingTwo.Code

<h1>Form Validation</h1>
<p>Click Submit button to trigger validation</p>

<div class="row">
    <div class="col-md-6">
        <EditForm Model="@_profile" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group">
                <label for="first_name">First Name</label>
                <InputText id="first_name" @bind-Value="@_profile.FirstName" class="form-control"/> <br/>
            </div>
            <div class="form-group">
                <label for="last_name">Last Name</label>
                <InputText id="last_name" @bind-Value="@_profile.LastName"  class="form-control"/> 
            </div>
            <div class="form-group">
                <label for="gender">Gender</label>
                <InputSelect id="gender" @bind-Value="@_profile.Gender" class="form-control">
                    <option value="">Select Gender</option>
                    <option value="F">Female</option>
                    <option value="M">Male</option>
                </InputSelect>
            </div>
            <div class="form-check">
                <InputCheckbox id="married_status" @bind-Value="@_profile.IsMarried" class="form-check-input" />
                <label for="married_status">Is Married?</label>
            </div>
            <br/>
            <button type="submit">Submit</button>
        </EditForm>

        <br/>
        <br/>
        <table class="table"> 
            <tr>
                <td>Name</td>
                <td>@_profile.FirstName @_profile.LastName</td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>@_profile.Gender</td>
            </tr>
            <tr>
                <td>Is Married?</td>
                <td>@_profile.IsMarried</td>
            </tr>
        </table>
    </div>
</div>

@code {
    private Profile _profile = new Profile();

    private void HandleValidSubmit()
    {
        Console.WriteLine("OnValidSubmit");
    }
}
