@page "/"
@inject FormDataProvider FormData

<h1>Manual Model Binding</h1>

<div class="container">
    @((MarkupString)_showMessage)

    <br />
    <div class="row">
        <div class="col-md-6">
            <EditForm method="POST" Model="_person" OnValidSubmit="HandleSubmit">
                <div class="mb-3">
                    <label class="form-label" for="_person.Name">Please enter your name</label><br />
                    <InputText @bind-Value="_person.Name" class="form-control" />
                </div>
                <div class="mb-3">
                    <label for="_person.Description" class="form-label">Describe yourself</label>
                    <InputTextArea @bind-Value="_person.Description" class="form-control" />
                </div>
                <div class="mb-3">
                    <label for="_person.Hobby" class="form-label">Hobby</label>
                    <InputSelect @bind-Value="_person.Hobby" class="form-select">
                        <option>Football</option>
                        <option>Basketball</option>
                        <option>Tennis</option>
                    </InputSelect>
                </div>
                <div class="mb-3 form-check">
                    <InputCheckbox @bind-Value="_person.IsMarried" class="form-check-input" />
                    <label for="_person.IsMarried" class="form-check-label">Is married?</label>
                </div>
                <div class="mb-3 form-check">
                    @{ var idx = 0;}
                    <InputRadioGroup @bind-Value="_person.Nationality">
                        @foreach(var val in new string[] { "USA", "Indonesia", "Egypt"})
                        {
                            var id = "nationality" + idx;
                            <InputRadio class="formcheck-input" Value="@val" id="@id"/>
                            <label class="form-check-label" for="@id">@val</label>
                            <br/>
                            idx++;
                        }
                    </InputRadioGroup> 
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code
{
    public class Person
    {
        public string Name { get; set; } = string.Empty;

        public string Description { get; set; } = string.Empty;

        public string Hobby { get; set; } = string.Empty;

        public bool IsMarried { get; set; }

        public string Nationality { get; set; } = string.Empty;
    }

    Person _person = new();

    string _showMessage = string.Empty;

    protected override void OnInitialized()
    {
        // Manually model bind the form data using the FormDataProvider service
        if (FormData.Entries.TryGetValue("_person.Name", out var nameValues))
            _person.Name = nameValues.First();

        if (FormData.Entries.TryGetValue("_person.Description", out var descriptionValues))
            _person.Description = descriptionValues.First();

        if (FormData.Entries.TryGetValue("_person.Hobby", out var hobbyValues))
            _person.Hobby = hobbyValues.First();

        if (FormData.Entries.TryGetValue("_person.IsMarried", out var isMarriedValues))
            _person.IsMarried = isMarriedValues.First() is object;

        if (FormData.Entries.TryGetValue("_person.Nationality", out var nationalityValues))
            _person.Nationality = nationalityValues.First();
    }

    void HandleSubmit()
    {
        _showMessage = $"Name: {_person.Name}<br />Description: {_person.Description}<br />Hobby: {_person.Hobby}<br />Is married: {_person.IsMarried}<br />Nationality {_person.Nationality}<br/><br/>";
    }
}