


<table class="table">
<thead>
    <tr>
        <th>Key</th>
        <th>Value</th>
        <th>Type</th>
    </tr>
</thead>
<tbody>
    @foreach(var a in Attributes)
    {
        <tr>
            <td>@a.Key (splat)</td>
            <td>@a.Value</td>
            <td>@a.Value.GetType()</td>
        </tr>
    }
    <tr>
        <td>Height (param)</td>
        <td>@Height</td>
        <td>@Height.GetType()</td>
    </tr>
    <tr>
        <td>CourageStats (param)</td>
        <td>@CourageStats</td>
        <td>@CourageStats.GetType()</td>
    </tr>
    <tr>
        <td>CalmnessStats (param)</td>
        <td>@CalmnessStats</td>
        <td>@CalmnessStats.GetType()</td>
    </tr>
</tbody>
</table>

@code
{
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> Attributes { get; set; }

    [Parameter]
    public int Height {get; set;}

    [Parameter]
    public int CourageStats {get; set;}

    [Parameter]
    public int CalmnessStats {get; set;}
}